<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
<h1>This is student form</h1>
<form method="post" th:action="@{/add}">
    <label>
        id
        <input type="number" name="id">
    </label>
    <label>
        name
        <input type="text" name="name">
    </label>
    <label>
        score
        <input type="number" name="score">
    </label>
    <button type="submit">Save</button>
</form>
</body>
</html>